<?php

declare(strict_types=1);

namespace {{package_namespace}}\Models;

use Opscale\Validations\Validatable;
use Illuminate\Database\Eloquent\Concerns\HasUlids;
use Illuminate\Database\Eloquent\Model;
{{#if has_soft_deletes}}
use Illuminate\Database\Eloquent\SoftDeletes;
{{/if}}
{{#each relation_imports}}
use {{.}};
{{/each}}
{{#if has_cross_refs}}
use {{package_namespace}}\Models\Concerns\HasContractRelations;
{{#each cross_subdomain_contract_imports}}
use {{.}};
{{/each}}
{{/if}}
{{#each enum_imports}}
use {{.}};
{{/each}}
{{#each vo_imports}}
use {{.}};
{{/each}}
use {{package_namespace}}\Models\Repositories\{{model_name}}Repository;

/**
{{#each property_docs}}
 * @property {{.}}
{{/each}}
 */
class {{model_name}} extends Model
{
    use HasUlids, Validatable, {{model_name}}Repository{{#if has_cross_refs}}, HasContractRelations{{/if}}{{#if has_soft_deletes}}, SoftDeletes{{/if}};

{{#if custom_table}}
    protected $table = '{{table_name}}';

{{/if}}
    public static $validationRules = [
{{#each validation_rules}}
        '{{column}}' => [{{rules}}],
{{/each}}
    ];

    protected $fillable = [
{{#each fillable}}
        '{{.}}',
{{/each}}
    ];

    protected $casts = [
{{#each casts}}
        '{{column}}' => {{cast}},
{{/each}}
    ];
{{#if has_relationships}}

    // --- Intra-subdomain relationships ---
{{#each relationships}}

    public function {{method}}(): {{return_type}}
    {
        return $this->{{eloquent_call}};
    }
{{/each}}
{{/if}}
{{#if has_cross_refs}}

    // --- Cross-subdomain virtual relations (resolved through host-supplied query) ---
{{#each cross_subdomain_refs}}

    public function {{relation_method}}(): BelongsTo
    {
        return $this->belongsToContract({{contract_class}}::class, '{{column}}', '{{relation_method}}');
    }
{{/each}}
{{/if}}
}
